  <div id="main_content">
    <div id="menu_tab">
      <div class="left_menu_corner"></div>
      <ul class="menu">
        <li><a href="#" class="nav1"> Inicio</a></li>
        <li class="divider"></li>
        <li><a href="#" class="nav2">Destaques</a></li>
        <li class="divider"></li>
        <li><a href="#" class="nav3">Para Presentes</a></li>
        <li class="divider"></li>
        <li><a href="#" class="nav4">Minha Conta</a></li>
        <li class="divider"></li>
        <li><a href="#" class="nav4">Cadastrar</a></li>
        <li class="divider"></li>
        <li><a href="#" class="nav5">Entrega</a></li>
        <li class="divider"></li>
        <li><a href="#" class="nav6">Cotato</a></li>
        <li class="divider"></li>
        <li><a href="#" class="nav7">Para Presentes</a></li>
        <li class="divider"></li>
        

      </ul>
      <div class="right_menu_corner"></div>
    </div>