{% extends 'layout.html' %}


{% block site_content %}

<div class="center_title_bar">Ultimos produtos adicionados</div>
{% for produto in produtos %}
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title">
            <a href="/detalhes/{{ produto.produto_slug }}">
                {{ produto.produto_nome }}
            </a>
        </div>
    </div>
    <div class="product_img" style="text-align: center">
        <a href="/detalhes/{{ produto.produto_slug }}">
            
            <img src="{{ site_url }}/{{ produto.produto_foto }}" alt="foto produto" height="90" width="90" />
 
        </a>
    </div>
    <div class="prod_price" style="text-align: center">
        {% if (produto.produto_promocao)==1 %}
        <span class="reduce" >
            R$ {{ produto.produto_valor | number_format(2,',','.') }}
        </span>
            R$ {{ produto.produto_valor_promocao | number_format(2,',','.') }}
        {% else %}
            R$ {{ produto.produto_valor | number_format(2,',','.') }}

        {% endif %}
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab">
        <a href="#" class="btn-add-carrinho" title="header=[Adicionar no carrinho] body=[$nbsp;] fade=[on]">
            <img class="left_bt" src="{{ site_url() }}/assets/images/cart.gif" alt="">
        </a>
        
        {% if (produto.produto_destaque == 1) %}
        <a href="#" title="header=[Destaque] body=[&nbsp;] fade=[on]">
            <img src="{{ site_url() }}/assets/images/favs.gif" alt="" border="0" class="left_bt"/>
        </a>
        {% endif %}
        {% if (produto.produto_presente == 1) %}
        <a href="#" title="header=[Destaque] body=[&nbsp;] fade=[on]">
            <img src="{{ site_url() }}/assets/images/favorites.gif" alt="" border="0" class="left_bt"/>
        </a>
        {% endif %}
    </div>

</div>
{% endfor %}
<div class="center_title_bar">Produtos em Promoção</div>
{% for produtoPromocao in produtosEmPromocao %}
<div class="prod_box">
    <div class="top_prod_box"></div>
    <div class="center_prod_box">
        <div class="product_title">
            <a href="/detalhes/{{ produtoPromocao.produto_slug }}">
                {{ produtoPromocao.produto_nome }}
            </a>
        </div>
    </div>
    <div class="product_img" style="text-align: center">
        <a href="/detalhes/{{ produtoPromocao.produto_slug }}">
            
            <img src="{{ site_url }}/{{ produtoPromocao.produto_foto }}" alt="foto produto" height="90" width="90" />
 
        </a>
    </div>
    <div class="prod_price" style="text-align: center">
        {% if (produtoPromocao.produto_promocao)==1 %}
        <span class="reduce" >
            R$ {{ produtoPromocao.produto_valor | number_format(2,',','.') }}
        </span>
            R$ {{ produtoPromocao.produto_valor_promocao | number_format(2,',','.') }}
            {% else %}
            R$ {{ produtoPromocao.produto_valor | number_format(2,',','.') }}
        {% endif %}
    </div>
    <div class="bottom_prod_box"></div>
    <div class="prod_details_tab">
        {% if (produtoPromocao.produto_destaque == 1) %}
        <a href="#" title="header=[Destaque] body=[&nbsp;] fade=[on]">
            <img src="{{ site_url() }}/assets/images/favs.gif" alt="" border="0" class="left_bt"/>
        </a>
        {% endif %}
        {% if (produtoPromocao.produto_presente == 1) %}
        <a href="#" title="header=[Para presente] body=[&nbsp;] fade=[on]">
            <img src="{{ site_url() }}/assets/images/favorites.gif" alt="" border="0" class="left_bt"/>
        </a>
        {% endif %}
    </div>

</div>

{% endfor %}


{% endblock %}